.pagina-avaliar-container {
  display: flex;
  min-height: 100vh;
  background: var(--cor-fundo-pagina);
  font-family: 'Inter', sans-serif;
}

.conteudo-avaliar {
  flex-grow: 1;
  margin-left: 230px;
  padding: 40px 48px;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinha o card no topo */
}

.card-avaliacao-form {
  width: 100%;
  max-width: 600px;
  background: #fff;
  border: 1px solid var(--cor-borda-cinza);
  border-radius: 16px;
  padding: 32px 40px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.avaliar-header {
  text-align: center;
  color: var(--cor-texto-principal);
}
.avaliar-foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--cor-roxo-principal);
  margin-bottom: 16px;
}
.avaliar-header h2 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--cor-texto-secundario);
  margin: 0;
}
.avaliar-header h1 {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 4px 0 8px 0;
}
.avaliar-header p {
  font-size: 0.9rem;
  color: var(--cor-texto-secundario);
  margin: 0;
}
.grupo-comentario {
    color: #dbdbdb;
}