@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.paginainicial{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 100vh; 
background: var(--cor-fundo-pagina);
text-align: center;
padding: 20px; 
opacity: 0;
transition: opacity 0.5s ease-in-out;
}

.paginainicial.fade-in {
opacity: 1;
}

.paginainicial-logo{
width: 200px;
margin-top: -300px;
}

.paginainicial-title{
font-size: 80px;
font-weight: 900;
font-family: Inter;

color: var(--cor-texto-principal);
margin-top: 100px;
}

.paginainicial-subtitle{
font-size: 22px;
font-weight: 500; 
font-family: Inter;
color: var(--cor-texto-secundario); 
margin-top: -10px; 
margin-bottom: 100px; 
}

.paginainicial-button-group{
display: flex;
gap: 20px; 
}