

.app-layout-container {
    display: flex;       
    min-height: 100vh;   
    width: 100%;
    align-items: flex-start; 
    background: linear-gradient(to bottom, #f3e8ff, #d8c0ff);
}

.profile-page-container {
 
    flex-grow: 1; 
    padding: 40px 48px;
    position: relative;  
    box-sizing: border-box; 
    overflow-y: auto; 
    margin-left: 230px;
}


.page-title {
    margin-top: 0;
    margin-bottom: 30px; 
    font-size: 28px;
    color: #333;
}

.edit-button {
    position: absolute;
    top: 20px; 
    right: 45px; 
    background-color: #A100FF; 
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    gap: 8px; 
    border-radius: 12px; 
    padding: 10px 18px; 
    font-size: 0.95rem;
}

.edit-button:hover {
    background-color: #6b21a8; 
}

.edit-button-icon {
  width: 20px;  
  height: 20px; 
}


@media (min-width: 1024px) {
    .profile-cards-grid {
        display: grid;
        grid-template-columns: 2fr 1fr; 
        gap: 25px; 
    }
}