/* src/pages/ProfilePage/ProfilePage.css */

.profile-page-container {
    position: relative; 
    padding-top: 0; 

    
    /* Mantendo o padding lateral para o grid */
    padding-right: 0; 
}


.page-title {
    margin-top: 0;
    margin-bottom: 30px; 
    font-size: 2rem;
    color: #333;
}

.edit-button {
    position: absolute;
    top: 0px; 
    right: 0; 
    
    background-color: #A100FF; 
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.2s;
}

.edit-button:hover {
    background-color: #6b21a8; 
}


@media (min-width: 1024px) {
    .profile-cards-grid {
        display: grid;
        /* Coluna principal (2 partes) e lateral (1 parte) */
        grid-template-columns: 2fr 1fr; 
        gap: 25px; 
    }
}